<?xml version="1.0" encoding="UTF-8"?>	<widget xmlns = "http://www.w3.org/ns/widgets"		xmlns:gap = "http://phonegap.com/ns/1.0"		id        = "MytravelApp"		versionCode="10"		version   = "1.0.0">		<name>My travel App</name>		<description>            A study project. Ho man this is hella hard.		</description>		<author href="https://kristengarnier.com" email="garnier.kristen@icloud.com">Behind my desk to make the world better. Seriously, i'm paid to poop, which is great !		</author>		<gap:platform name="android" />		<gap:plugin name="org.apache.cordova.network-information"  />		<icon src="icon.png" />		<gap:splash src="splash.png" />        <access origin="*" />	</widget>