<div class="container home">
    <img src="" alt=""/>

    <h3 class="center-align">Vous recherchez un voyage ?</h3>
    <ul class="collapsible" data-collapsible="accordion">
        <li>
            <div class="collapsible-header center-align"><i class="fa fa-sun-o"></i>Séjours</div>
            <div class="collapsible-body">
                <div class="row">
                    <form class="col s10 offset-s1">
                        <div class="row">
                            <div class="input-field col s12">
                                <input id="pays_sejour" type="text" class="validate">
                                <label for="pays_sejour">Pays</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <input id="depart_sejour" type="text" class="validate">
                                <label for="depart_sejour">Au départ de</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <input id="date_sejour" type="date" class="datepicker">
                                <label for="date_sejour">Date de départ</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <label>Durée du séjour</label>
                                <select>
                                    <option value="" disabled selected>Choisissez la durée</option>
                                    <option value="1">2 jour</option>
                                    <option value="2">1 semaine</option>
                                    <option value="3">2 semaine</option>
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s6">
                                <input id="adulte_sejour" type="number" class="validate"/>
                                <label for="adulte_sejour">Nombre d'adultes</label>
                            </div>
                            <div class="input-field col s6">
                                <input id="enfant_sejour" type="number" class="validate"/>
                                <label for="enfant_sejour">Nombre d'enfants</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <div class="switch">
                                    <label>
                                        Flexibilité +/- 3 jours
                                        <input type="checkbox">
                                        <span class="lever"></span>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12 center">
                                <button class="btn waves-effect orange" type="submit" name="action">Rechercher
                                    <i class="fa fa-search"></i>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </li>
        <li>
            <div class="collapsible-header center-align"><i class="fa fa-plane"></i>Vols</div>
            <div class="collapsible-body">
                <div class="row">
                    <form class="col s10 offset-s1">
                        <div class="row">
                            <div class="input-field col s12">
                                <input id="pays_vols" type="text" class="validate">
                                <label for="pays_vols">Pays</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <input id="depart_vols" type="text" class="validate">
                                <label for="depart_vols">Au départ de</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <input id="date_vols" type="date" class="datepicker">
                                <label for="date_vols">Date de départ</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <label>Durée du séjour</label>
                                <select>
                                    <option value="" disabled selected>Choisissez la durée</option>
                                    <option value="1">2 jour</option>
                                    <option value="2">1 semaine</option>
                                    <option value="3">2 semaine</option>
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s6">
                                <input id="adulte_vols" type="number" class="validate"/>
                                <label for="adulte_vols">Nombre d'adultes</label>
                            </div>
                            <div class="input-field col s6">
                                <input id="enfant_vols" type="number" class="validate"/>
                                <label for="enfant_vols">Nombre d'enfants</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <div class="switch">
                                    <label>
                                        Flexibilité +/- 3 jours
                                        <input type="checkbox">
                                        <span class="lever"></span>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12 center">
                                <button class="btn waves-effect orange" type="submit" name="action">Rechercher
                                    <i class="fa fa-search"></i>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </li>
        <li>
            <div class="collapsible-header center-align"><i class="fa fa-bed"></i>Hébergments</div>
            <div class="collapsible-body">
                <div class="row">
                    <form class="col s10 offset-s1">
                        <div class="row">
                            <div class="input-field col s12">
                                <input id="pays_hotel" type="text" class="validate">
                                <label for="pays_hotel">Pays</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <input id="ville" type="text" class="validate">
                                <label for="ville">Ville</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <input id="date_hotel" type="date" class="datepicker">
                                <label for="date_hotel">Date d'arrivée</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <input id="nuits" type="number" class="validate"/>
                                <label for="nuits">Durée ( en nuits )</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <input id="personne_hotel" type="number" class="validate"/>
                                <label for="personne_hotel">Nombre de personnes</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <div class="switch">
                                    <label>
                                        Flexibilité +/- 3 jours
                                        <input type="checkbox">
                                        <span class="lever"></span>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12 center">
                                <button class="btn waves-effect orange" type="submit" name="action">Rechercher
                                    <i class="fa fa-search"></i>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </li>
    </ul>
</div>
<script>
    $(document).ready(function () {
        $('.collapsible').collapsible();
        $('.datepicker').pickadate();
        $('select').material_select();
    })
</script>
